<header>Angular Change Detection - based on {{ version }}</header>
<div style="margin: 0 auto; max-width: 1500px;">
  <div class="control">
    <section class="card" style="display: none">
      <header><h3>Trigger global actions</h3></header>
      <nav>
        <button
          #timeout_button
          text="setTimeout(...)"
          title="Installs a timeout to run in 3s (in ng-zone)"
        >
          setTimeout(...)
        </button>
        <button #click_button (click)="clickNoop()" title="Click with a NoOp" text="Click">Click</button>
      </nav>
    </section>

    <section class="card">
      <header><h3>Control dirty check coloring</h3></header>
      <nav>
        <label>
          <input type="checkbox" #auto_clear checked />Clear dirty check
          coloring automatically
        </label>
        <span class="filler"></span>
        <button #clear text="Clear">Clear</button>
      </nav>
    </section>

    <section class="card" style="display: none">
      <header>
        <h3>Play with component input - current value: <span #input_value_field>n/a</span></h3>
      </header>
      <nav>
        <button #trigger_change (click.outside)="onChange()" text="Trigger change">Trigger change</button>
        <label
          ><input
            type="checkbox"
            #propagate_by_value_checkbox
            checked
            title="Provides the new value as a new object (ref-change)"
          />change input object (ref-change)</label
        >
        <label
          ><input
            type="checkbox"
            #propagate_by_ref_checkbox
            checked
            title="Provides the new value by mutating the input object (no-ref-change)"
          />mutate input object (no ref-change)</label
        >
        <label
          ><input
            type="checkbox"
            #propagate_by_observable_checkbox
            checked
            title="Publishes the new value via Observable"
          />via Observable (no ref-change)</label
        >
        <label><input type="checkbox" #propagate_in_zone_checkbox checked />Propagate in Angular zone</label>
      </nav>
    </section>
  </div>

  <div style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center;">
    <label style="font-weight: 600;"><input type="checkbox" (click)="toggleZoneless()" [checked]="enableZoneless" />Enable Zoneless</label>
  </div>

  <main>
    <app-comp-1 [inputByVal]="inputByVal" [inputByRef]="inputByRef" [inputObservable]="inputObservable"></app-comp-1>

    <div style="display: flex; justify-content: center;">
      <img width="600" src="https://angular.dev/assets/images/uwu.png" />
    </div>

    <section class="card">
      <header><h3>Change detection details</h3></header>
      <article>
        <ul>
          <li>
            Event listeners in templates (like click) will mark the ancestors as dirty. This is why OnPush parents still
            run change detection on click. (<a
              href="https://github.com/angular/angular/blob/7c8f026778b1486a4fc9cde21d8806e044618e89/packages/core/src/render3/instructions/listener.ts#L249"
              >See implementation</a
            >)
          </li>
          <li>Mark for check won't fire a CD cycle, this is done by the scheduler (currently NgZone)</li>
          <li>Signal updates won't fire a CD cycle, this is done by the scheduler (currently NgZone)</li>
          <li>Signal updates will mark the component as a dirty consummer & all ancestor as traversal</li>
        </ul>
      </article>
    </section>

  </main>
</div>
